# Ignore everything in /data/ except /data/ftg/ftg.punc.
# (We need to do this dance because "[for performance reasons] it is not possible
#  to re-include a file if a parent directory of that file is excluded".
#  https://git-scm.com/docs/gitignore)
/data/*
!/data/ftg
/data/ftg/*
!/data/ftg/ftg.punc

!/data/ftg-ground-truth
/data/ftg-ground-truth/*
!/data/ftg-ground-truth/*.gt.txt
!/data/ftg-ground-truth/*.png
!/data/ftg-ground-truth/TOHSKHP
!/data/ftg-ground-truth/README.md

*.built
*.BAK
*~
.mypy_cache
node_modules

pojbh.json
essay-taigi.txt
yataigi-poj.syllables.dict.yaml
